@import '../scss/var';

.card {
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 5px 15px hsla(180, 29%, 50%, 0.2);
   padding: 3.3rem 2.6rem 2.5rem 2.2rem;
   &__job {
      &-logo {
         width: 5rem;
         position: absolute;
         top: 0;
         transform: translate(0, -50%);
         & img {
            width: 100%;
         }
      }
      &-details {
         display: block;
      }
      &-company {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         margin-bottom: 1.3rem;

         &-name {
            color: $primary-color;
            margin-right: 2.4rem;
            margin-bottom: 0;
         }
      }
      &-position {
         color: $very-dark-cyan;
         margin-bottom: 1.9rem;
      }
      &-descr {
         font-weight: 500;
         margin-bottom: 1.8rem;
         color: $dark-cyan;
         & span {
            padding: 0 1rem;
            font-size: 1.3rem;
         }
      }
   }
}

@media only screen and (min-width: 870px) {
   .card {
      &__job {
         display: flex;
         align-items: center;
         margin-left: 1.7rem;
         min-width: 38.5rem;
         &-logo {
            width: 8.8rem;
            position: static;
            transform: translate(0, 0);
         }
         &-company {
            margin: -1rem 0 1rem 0;
            display: block;
            &-name {
               display: inline-block;
               font-size: 1.8rem;
               margin-right: 1.5rem;
            }
         }
         &-position {
            font-size: 2.2rem;
            margin-bottom: 1.2rem;
            cursor: pointer;
            transition: color 0.2s;
            &:hover {
               color: $primary-color;
            }
         }

         &-descr {
            font-size: 1.8rem;

            margin-bottom: 0;
            & span {
               padding: 0 1.6rem;
            }
         }
         &-details {
            display: block;
            flex-wrap: wrap;
            margin-left: 2.5rem;
            max-width: 28rem;
         }
      }
   }
}
