@media only screen and (min-width: 426px) {
  .header {
    background-image: url('../images/bg-header-desktop.svg');
    margin-bottom: 7.2rem;
  }
}
@media only screen and (min-width: 870px) {
  .tag {
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $primary-color;
      color: $background-color;
    }
    cursor: pointer;
    &_del {
      &:hover {
        background-color: $filter-tablets-color;
        color: $primary-color;
      }
      cursor: default;
      &-x {
        transition: background-color 0.2s, color 0.2s;
        cursor: pointer;
        &:hover {
          background-color: $very-dark-cyan;
          color: $background-color;
        }
      }
    }
  }
  .filter {
    &_active {
      transform: translateY(-108px);
      margin: 0 auto -92px;
    }
    &__card {
      padding-left: 4rem;
    }
    &-clear {
      margin-right: 1.8rem;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }
  .tags {
    align-items: center;
    justify-content: flex-end;

    margin-right: 1.7rem;
  }
  .badge {
    display: inline-block;
  }
  .card {
    &__job {
      display: flex;
      align-items: center;
      margin-left: 1.7rem;
      min-width: 38.5rem;
      &-logo {
        width: 8.8rem;
        position: static;
        transform: translate(0, 0);
      }
      &-company {
        margin: -1rem 0 1rem 0;
        display: block;
        &-name {
          display: inline-block;
          font-size: 1.8rem;
          margin-right: 1.5rem;
        }
      }
      &-position {
        font-size: 2.2rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
          color: $primary-color;
        }
      }

      &-descr {
        font-size: 1.8rem;

        margin-bottom: 0;
        & span {
          padding: 0 1.6rem;
        }
      }
      &-details {
        display: block;
        flex-wrap: wrap;
        margin-left: 2.5rem;
        max-width: 28rem;
      }
    }
  }
  .list {
    &__card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 15.2rem;
      margin: 2.5rem auto 0;

      hr {
        display: none;
      }
    }
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    padding: 0;
  }
}
