@import './var';
footer {
  width: 100%;
  //margin-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  text-align: center;
  height: 2.5rem;
}
.attribution {
  margin: 0 auto;
  font-size: 1.1rem;
}

.attribution a {
  color: $primary-color;
}
